.page {
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 5;
}
.app-home {
  display: flex;
  flex: 1;
  z-index: 5;
  background-color: rgb(26, 26, 26);
}
.app-home > h2,
h1 {
  text-align: center;
  color: aliceblue;
}
.app-search {
  display: flex;
  flex: 1;
  z-index: 5;
}

.app-video {
  display: flex;
  gap: 1rem;
  z-index: 5;
align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  justify-items: center;
}

.sideBarLeft{
  max-width: 25vw;
  max-height: 100vh;
}
.iFrame{
  align-self: center;
  justify-self: center;
}

.iFrame > h2{
  max-width: fit-content;
}
.iframe{
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}