.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: aliceblue;
}
.container {
  color: blue;
  width: 30%;
}

.container > h3 {
  padding-left: 2rem;
  font-weight: bold;
  font-style: italic;
}
#home {
  padding-right: 10px;
  margin-right: 20px;
  color: blue;
  font-size: large;
  width: 20%;
  text-align: center;
  align-items: center;
}
#home:hover {
  font-weight: bold;
  background-color: rgb(233, 231, 231);
}
.searchBar {
  align-items: left;
  width: 25%;
  margin-right: 20%;
  height: 2rem;
}
.youtubeicon{
  color: blue;
  margin-right: 5%;
}
