.navBar {
  display: flex;

  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: aliceblue;
}
.container {
  color: blue;
  font-size: large;
}
.searchBar {
  display: flex;
  align-items: left;
  width: 30%;
  margin-right: 20%;
  height: 25px;
}
label {
  padding-left: 20px;
  font-weight: bold;
  font-style: italic;
  font-size: larger;
}
#home{
  font-weight: normal;
  font-style: normal;
  padding-right: 20px;
  color: blue;
}
#home:hover{
  font-weight: bold;
  background-color: rgb(233, 231, 231);
}
