.likeButton > #button{
    width: 20px;
    border: none;
    color:rgb(109, 108, 108);
    justify-self: center;
    margin-left: 5px;
    
}
.likeButton > #buttonLike{
    width: 20px;
    border: none;
    color:green;
    justify-self: center;
    margin-left: 5px;
    
}
.likeButton > #buttonDislike{
    width: 20px;
    border: none;
    color:red;
    justify-self: center;
    margin-left: 5px;
    
}