

.videoItem{
    display: flex;
    flex-wrap: wrap;
    height: 250px;
    width: 250px;
}
.videoImg{
    height: 150px;
    width: 250px;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.videoData{
    padding: 10px;
    margin: 10px;
    font-size: 12px;
    max-width: 200px;
    align-self: center;
} 
.videoItem:hover{
    border: 1px solid lightgray;
    background-color: lightgray;
}
