.sideBarNav{
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.sideBarNav-Title{
    flex: 1;
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
}

.sideBarNav:hover{
    background-color: gainsboro;

    cursor: pointer;
}
.sideBarNav.selected{
    background-color: rgb(212, 210, 210);
}

.sideBarNav-Title:hover{
    font-weight: bold;
}