
.forYou{
    background-color: rgb(245, 247, 250);
    padding: 40px 20px;
    padding-bottom: 0;
    justify-content: center;

}

.forYou > h2 {
    margin-left: 5px;
    margin-bottom: 20px;
    text-align: center;
}

.videos{
    display: flex;
    flex-wrap: wrap;
}