.page {
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 5;
  font-family: "Roboto", sans-serif;
}
.app-home {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
  background-color: rgb(47, 28, 28);
}
.app-home > h2,
h1,
h3 {
  text-align: center;
  color: aliceblue;
  margin: 25px;
}
.app-search {
  display: flex;
  flex: 1;
  z-index: 5;
}

.app-video {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 1rem;
  z-index: 5;
}

.relatedVideos {
  max-height: 200vh;
  max-width: 20vw;
  overflow-y: scroll;
  align-items: center;
  margin-top: 10px;
}
.relatedVideos > h5 {
  text-align: center;
  color: blue;
}

.iFrame > h2 {
  max-width: fit-content;
  margin-left: 1.5rem;
}
.iframe {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 42vw;
  height: 50vh;
}

.app-videoPlayer-comment {
  display: flex;
  flex-flow: column wrap;

  margin-left: clamp(20px, 15%, 20vw);
  margin-right: auto;
}

@media only screen and (max-width: 420px) and (orientation: portrait) {
  .relatedVideos {
    height: 350px;
    max-width: 100vw;
    overflow-y: unset;
  }
  .relatedVideos > h5 {
    text-align: center;
  }
  .app-video {
    flex-direction: column;
    justify-items: flex-start;
  }

  .app-videoPlayer-comment {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: fit-content;
    flex-wrap: nowrap;
    flex: 1;
    overflow-y: scroll;
    margin-left: clamp(20px, 8%, 20vw);
  }
  .iframe {
    align-items: center;
    margin-left: 20px;
    margin-right: auto;
    min-width: 42vw;
    height: 30vh;
  }
}
@media only screen and (max-width: 900px) and (min-width: 421px) and (orientation: portrait) {
  .relatedVideos {
    height: 350px;
    max-width: 100vw;
    overflow-y: unset;
  }
  .relatedVideos > h5 {
    text-align: center;
  }
  .app-videoPlayer-comment {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: min-content;
    margin-left: clamp(20px, 15%, 20vw);
    margin-right: auto;
  }
  .iframe {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 60vw;
    height: 30vh;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 421px) and (orientation: landscape) {
  .relatedVideos {
    height: 350px;
    max-width: 20vw;
    overflow-y: unset;
    margin-left: 20px;
  }
  .relatedVideos > h5 {
    text-align: center;
  }
  .app-videoPlayer-comment {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    max-height: min-content;
    margin-left: clamp(20px, 10%, 20vw);
    margin-right: auto;
  }
  .iframe {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 55vw;
    height: 45vh;
  }
}
@media only screen and (max-width: 900px) and (min-width: 700px) and (orientation: landscape) {
  .relatedVideos {
    height: 100vh;
    max-width: 20vw;
    margin-left: 10px;
    overflow-y: scroll;
  }
  .relatedVideos > h5 {
    text-align: center;
  }
  .app-videoPlayer-comment {
    display: flex;
    flex-direction: column;
    max-width: 60vw;
    max-height: min-content;
    margin-left: clamp(5px, 8%, 10vw);
    margin-right: auto;
  }
  .iframe {
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 45vw;
    height: 50vh;
  }
}
